<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$authorModal.title}} Autor</h3>
</div>
<div class="modal-body" id="modal-body">
    <form novalidate class="simple-form">
        <input type="hidden" ng-model="$authorModal.author.id">
        <div class="form-group">
                <label for="authorFirstName">Nome</label>
                <input id="authorFirstName"
                       class="form-control"
                       type="text"
                       ng-model="$authorModal.author.firstName" />
            </div>
            <div class="form-group">
                    <label for="authorLastName">Sobrenome</label>
                    <input id="authorLastName"
                           class="form-control"
                           type="text"
                           ng-model="$authorModal.author.lastName" />
                </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" ng-click="$authorModal.save($authorModal.author)" value="Salvar" />
            <input type="button" class="btn btn-warning" ng-click="$authorModal.reset()" value="Cancelar" />
        </div>
    </form>
</div>