<div class="mx-auto"
     style="width: 200px;">
    <nav>
        <ul class="pagination"
            ng-if="1 < pages.length || !autoHide">
            <li ng-if="boundaryLinks"
                class="page-item"
                ng-class="{ disabled : pagination.current == 1 }">
                <a href=""
                   class="page-link"
                   ng-click="setCurrent(1)">&laquo;</a>
            </li>
            <li ng-if="directionLinks"
                class="page-item"
                ng-class="{ disabled : pagination.current == 1 }">
                <a href=""
                   class="page-link"
                   ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
            </li>
            <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
                class="page-item"
                ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                <a href=""
                   class="page-link"
                   ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
            </li>

            <li ng-if="directionLinks"
                class="page-item"
                ng-class="{ disabled : pagination.current == pagination.last }">
                <a href=""
                   class="page-link"
                   ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
            </li>
            <li ng-if="boundaryLinks"
                class="page-item"
                ng-class="{ disabled : pagination.current == pagination.last }">
                <a href=""
                   class="page-link"
                   ng-click="setCurrent(pagination.last)">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
