<div class="modal-header">
    <h3 class="modal-title"
        id="modal-title">{{$bookModal.title}} Livro</h3>
</div>
<div class="modal-body"
     id="modal-body">
    <form novalidate>
        <input type="hidden"
               ng-model="$bookModal.book.id">
        <div class="form-group">
            <label for="bookTitle">Titulo</label>
            <input id="bookTitle"
                   class="form-control"
                   type="text"
                   ng-model="$bookModal.book.title" />
        </div>
        <div class="form-group">
            <label for="bookIsbn">ISBN</label>
            <input id="bookIsbn"
                   class="form-control"
                   type="text"
                   ng-model="$bookModal.book.isbn" />
        </div>
        <div class="form-group">
            <label for="bookAuthor">Autor</label>
            <select class="form-control"
                    id="bookAuthor"
                    ng-model="$bookModal.book.authorId">
                <option ng-repeat="author in $bookModal.authors"
                        value="{{author.id}}">{{author.firstName}} {{author.lastName}}</option>
            </select>
        </div>
        <div class="modal-footer">
            <input type="submit"
                   class="btn btn-primary"
                   ng-click="$bookModal.save($bookModal.book)"
                   value="Salvar" />
            <input type="button"
                   class="btn btn-warning"
                   ng-click="$bookModal.reset()"
                   value="Cancelar" />
        </div>
    </form>
</div>
