<h1>Livros</h1>
<div class="container">
    <div class="row">
        <div ng-controller="BookModalForm as $bookModal"
             class="col">
            <button type="button"
                    class="btn btn-success"
                    ng-click="$bookModal.open()">Adicionar&nbsp;<i class="fas fa-plus-circle"></i></button>
        </div>
        <div class="col">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text"
                           ng-model="search"
                           class="form-control"
                           placeholder="Busca por">
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead ng-controller="BooksCtrl">
        <tr>
            <th ng-click="ordenarPor('id')">ID
                <span class="glyphicon sort-icon"
                      ng-show="orderProp=='id'"
                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="book in books|orderBy:orderProp:reverse|filter:search|itemsPerPage:5">
            <th> {{ book.id }}</th>
            <th> {{ book.isbn }}</th>
            <th>{{ book.title }}</th>
            <th>
                <span ng-controller="BookModalForm as $bookModal">
                    <button type="button" ng-click="$bookModal.open(book)" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </button>
                </span>
                <button type="button"
                        ng-click="delete(book)"
                        class="btn btn-danger">
                    <i class="fas fa-minus-circle"></i>
                </button>
            </th>
        </tr>
    </tbody>
</table>
<dir-pagination-controls current-page="1"
                         max-size="20"
                         template-url="common/paginator/template.html"
                         direction-links="true">
</dir-pagination-controls>
